.txt

# Compiled object files
*.o
*.d

# Build artifacts
*.asm
*.sym

# Binaries and images
*.img
bootblock
entryother
initcode
initcode.out
kernel
mkfs
xv6.img
fs.img

# User programs (prefixed with _)
_*

# Misc
.gdbinit
EOF
